<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button>
    
          </ion-menu-button>
        </ion-buttons>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/characters"></ion-back-button>
        </ion-buttons>
    <ion-title>character {{ loadedCharacter.id }} detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col>
        <h1>{{ loadedCharacter.name}}</h1>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
