<ion-header>
  <ion-toolbar>
    <ion-title>characters</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-list>


      <ion-card *ngFor="let char of characters" [routerLink]="['./', char.id]">
        <!--<ion-img src="./../assets/images/person-icon.jpg" ></ion-img>-->
          
          <ion-card-header>
            <ion-card-subtitle>Character</ion-card-subtitle>
            <ion-card-title>{{ char.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            gender: {{ char.gender }}
          </ion-card-content>
      </ion-card>

      
  </ion-list>




</ion-content>
